node_modules
.next
.git
.gitignore
.env
.env.*
*.env
*.env.*
media
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/
coverage
docker-compose.yml
README.md
tsc_errors.log
lint.log
*.tsbuildinfo
types_*.log
